
<md-subheader flex="initial" class="md-no-sticky">
   <h3>Mix</h3>
</md-subheader>
<md-tabs id="mixTabs" md-dynamic-height style="min-height:470px" md-border-bottom layout-fill class="tall-tabs">
   <md-tab flex label="View" style="height:100%" layout-fill>
      <md-content class="md-padding" style="height:100%" layout-fill layout='column'>
         <div ng-include="'mix/_mix_tab_view.html'" style="display:flex" layout-fill></div>
      </md-content>
   </md-tab>
   <md-tab label="New">
      <md-content class="md-padding">
         <div ng-include="'mix/_mix_tab_new.html'" layout-fill></div>
      </md-content>
   </md-tab>
   <md-tab label="Compare">
      <md-content class="md-padding">
         <div ng-include="'mix/_mix_tab_compare.html'" layout-fill></div>
      </md-content>
   </md-tab>

</md-tabs>